* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body { 
    background-color: #F0F0F0;
}

#card { 
    width: 800px;
    height: 400px;
    margin: 150px auto;
    background-color: white;    
    position: relative;
    transition: 1s ease-out; 
}

#border {
    border: 4px solid gold;
    width: 750px;
    height: 350px;
    position: absolute;
    margin: 25px 25px;
}

.clicked {
    transform: rotateX(720deg);
}

#info {
    position: absolute;
    top: 320px;
    font-size: 70%;
    margin-left: 10px;
}

#source {
    margin: 50px;
    background-color: red;
    font-size: 150%;
}